.form-control-dark {
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle:not(:focus) {
  outline: 0;
}

.form-signin {
  position: relative;
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin .top-field {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin .middle-field {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin .bottom-field {
  margin-bottom: 15px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Welcome CSS */
@media (min-width: 992px) {
  .rounded-lg-3 {
    border-radius: 0.3rem;
  }
}

/* My CSS (custom) */
/* Header */
body,
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  --width-step: 5;
}

.w-70 {
  width: 70% !important;
}

main {
  flex: 1;
}

/* Alert */
.alert-container {
  position: absolute;
  top: 20px;
  left: auto;
  right: 0%;
  z-index: 1000;
  width: 80%;
  max-width: 500px;
}

.alert {
  margin-bottom: 10px;
}

.custom-alert-box {
  width: 10cm;
  height: 3cm;
  margin-left: auto;
  margin-right: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.relative-container {
  position: relative;
  z-index: 1;
}

.absolute-container {
  position: absolute;
  z-index: 2;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
